body
{
	margin-bottom: 150px;
}

main{
	margin-top:50px;
}

a img{
	border: 5px solid #777;
	margin-top:30px;
}

a img:hover{
	border: 5px solid #ffffff;
}

#contactform{
	padding: 50px;
	background-color: #424242;
	color: #ffffff;
	border-radius: 10px;
	font-size: 18px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}
#contactform textarea{
	resize: none;	
	width:100%;
	font-size: 18px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

#contactform input{
	width:100%;
	font-size: 18px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

#submitbutton{
	width:auto;
	font-size: 18px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px;
	border-radius: 10px;
}

#submitbutton:hover{
	background-color:darkgrey;
	color:white;
}

body{
	background: url("../imagenes/background.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-color: #da3c68;
}

h1{
	font-family: Impact, Charcoal, sans-serif;
	text-align: center;
	font-size: 72px;
	text-shadow: 0px 0px 30px white;
}

p{
	text-indent: 50px;
	text-align: justify;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}